.product_item {
  width: 40vw;
  min-height: 20vh;
  padding: 5px;
  border: 2px solid var(--tg-theme-text-color);
  & .img {
    width: 40vw;
    border: 1px solid var(--tg-theme-text-color);
  }
  & .title {
    font-size: larger;
  }
}
